* {
    box-sizing: border-box;
    font-family: 'GFS Didot', serif;
}

body {
    margin: 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/*Header*/

.header {
    background-image: url('../img/header.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 5% 20px;
    text-align: center;
    font-size: 40px;
    color: aliceblue;
}

.header img {
    width: 60%;
    height: auto;
}


/* Responsive layout */

@media screen and (max-device-width:700px) {}